<title>Title</title>
<!-- Primary Meta Tags -->
<link rel="icon" href="/public/images/favicon.ico" type="image/gif" sizes="16x16">
<meta name="title" content="title">
<meta name="description" content="site description">
<meta name="keywords" content="Site, Description">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://mywebsite.com">
<meta property="og:title" content="title">
<meta property="og:description" content="site description">
<meta property="og:image" content="https://myimage.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://mywebsite.com">
<meta property="twitter:title" content="title">
<meta property="twitter:description" content="site description">
<meta property="twitter:image" content="https://myimage.jpg">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{asset('css/style.css')}}">

<script src="https://cdn.jsdelivr.net/npm/core-js-bundle@3.20.2/minified.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" defer></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">