<!DOCTYPE html>
<html>
<head>

<%- include('../shared/header'); %>

</head>
<body>
    <div class="container">
        <div class="row">
          <div id="error" class="col-lg-12" align="center">
            <h2>403 | Unauthorized</h2>
          </div>
        </div>
    </div>

    <style scoped>
      #error {
          margin-top: 30%;
      }
  </style>
</body>
</html>